@model DataLayer.Role

<div>

    <h4>
        ایا مایل به حذف نفش @Model.RoleName هستید؟
    </h4>

    <a href="/Authorize/ConfirmDeleteRole/@Model.RoleId/" class="btn btn-danger">حذف</a> |
    <a href="#" class="btn btn-success" data-dismiss="modal"> انصراف </a>

</div>
