@model DataLayer.RolePermission
@{
    ViewData["Title"] = "DeleteRolePermission";
    Layout = null;
}

<form asp-action="DeleteRolePermission">
    @Html.HiddenFor(m => m.RoleId)
    @Html.HiddenFor(m => m.RolePermissionId)
    <h4>
        ایا مایل به حذف هستید؟
    </h4>
    <button class="btn btn-danger"> حذف</button>|
    <a href="#" class="btn btn-success" data-dismiss="modal"> انصراف </a>

</form>