@model Core.CategoriViewModel

@{
    ViewData["Title"] = "CreateCategory";
    Layout = null;
}

<div class="row">
    <div class="col-12">
        <form asp-action="CreateCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group mb-3">
                <input asp-for="Name" type="text" class="form-control" placeholder="Your Email">
                <div class="input-group-append">
                    <label asp-for="Name" class="input-group-text"> </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="ساخت" class="btn btn-success" />
                <a href="#" class="btn btn-danger" data-dismiss="modal"> انصراف </a>
            </div>
        </form>
    </div>
</div>



