
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<div class="col-md-8 col-12 bg-panel p-2 p-md-4 rounded">

    <form class="container bg-white rounded p-2 p-md-4 my-2">
        <div class="form-header mb-4"> اضافه کردن اسلاید </div>
        <div class="p-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your Email">
                <div class="input-group-append">
                    <span class="input-group-text"> ایمیل </span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your Email">
                <div class="input-group-append">
                    <span class="input-group-text"> نام </span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your Email">
                <div class="input-group-append">
                    <span class="input-group-text"> شماره تلفن </span>
                </div>
            </div>

        </div>

    </form>

</div>

