@model DataLayer.Entities.Category
@{
    ViewData["Title"] = "DeleteCategory";
    Layout = null;
}

<div>

    <h4 class="py-2">
        ایا مایل به حذف مقاله @Model.Name هستید؟
    </h4>

    <a href="/Panel/ConfirmDeleteCategory/@Model.CategoryId/" class="btn btn-danger">حذف</a> |
    <a href="#" class="btn btn-success" data-dismiss="modal"> انصراف </a>

</div>
