@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>

    <h1>
        ایا مایل به حذف مقاله @Model.Title هستید؟
    </h1>

    <a href="/Panel/ConfirmDeleteCategory/@Model.ArticleId/">del</a> |
    <a href="/panel/ShowArticles/">back </a>

</div>
