@model List<DataLayer.Entities.Category>
@{
    ViewData["Title"] = "ShowCategory";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="col-md-8 col-12 p-0">
    <div>
        <a class="btn btn-success" href="#" onclick="CreateClick()" data-toggle="modal" data-target="#myModal"> create </a>
    </div>
    <section class="table-holder">
        <table class="tabel-content">

            <tr>
                <th>                   
                    نام
                </th>
                <th>
                    عملیات
                </th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>

                    <td>
                        <a href="/Panel/ShowSubCategory/@item.CategoryId"> زیر دسته  </a>
                        <a href="#" onclick="UpdateClick(@item.CategoryId)" data-toggle="modal" data-target="#myModal"> Edit </a>
                        <a href="#" onclick="DeleteClick(@item.CategoryId)" data-toggle="modal" data-target="#myModal"> حذف </a>
                    </td>
                </tr>
            }

        </table>

    </section>


</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="p-2 border-bottom">
                <button type="button" class="btn btn-danger" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body py-4">
                <div id="ModalBody">

                </div>
            </div>

            <!-- Modal footer -->

        </div>
    </div>
</div>
@section ModalScript{
    <script>
        function DeleteClick(id) {
            $.get("/Panel/DeleteCategory/" + id, function (res) {
                ModalBody.innerHTML = res

            })
        }
        function CreateClick() {
            $.get("/panel/CreateCategory", function (res) {
                ModalBody.innerHTML = res

            })
        }
        function UpdateClick(id) {
            $.get("/panel/UpdateCategory/" + id, function (res) {
                ModalBody.innerHTML = res

            })
        }
    </script>
}