@model DataLayer.Entities.Category

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = null;
}

<div>
    <form asp-action="UpdateCategory" >
        @Html.HiddenFor(model => model.ParentId)
        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"> </label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"> </span>
        </div>

        <input type="submit"  value="ساخت" class="btn btn-success"  /> |
        <a href="#" class="btn btn-danger" data-dismiss="modal"> انصراف </a>
    </form>
</div>
