@model Core.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
    <section class="container my-md-0 my-5">
        <div class="row">
            <div class="col-md-6 login-height login-pic">

            </div>
            <div class="col-md-6 p-0 py-md-5 p-lg-5 login-height">
                <div class="bg-loginform h-100 g-rounded p-4">
                    <form asp-action="Login" class="bg-article p-3 g-rounded login-form">
                        <div class="rounded-circle bg-secondary login-form-logo"></div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-group my-4">
                            <input asp-for="Email" class="form-control" />
                            <div class="input-group-append">
                                <label asp-for="Email" class="input-group input-group-text"></label>
                            </div>
                        </div>
                        <div class="input-group my-4">
                            <input asp-for="PassWord" class="form-control" />
                            <div class="input-group-append">
                                <label asp-for="PassWord" class="input-group input-group-text"></label>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-center my-4">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                        <a href="#" class="d-block my-2"> ثبت نام </a>
                        <a href="#"> فراموشی رمز </a>
                    </form>
                </div>
            </div>
        </div>
    </section>



